<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino Fit Tracker</title>
    <link rel="stylesheet" href="../styles/create-treino.css">
</head>
<body>
    <header>
        <h3>
            <a href="">
                Consultoria
            </a></h3>
    </header>
    <main>
        <form action="insert" method="POST">
            <label for="">Nome</label>
            <input type="text" name="nome">
            <label for="">Descricao</label>
            <input type="text" name="descricao">
            <label for="">Dia da Semana</label>
            <select id="diadasemana" name="diadasemana">
                <option value="Segunda">Segunda</option>
                <option value="Terça">Terça</option>
                <option value="Quarta">Quarta</option>
                <option value="Quinta">Quinta</option>
                <option value="Sexta">Sexta</option>
                <option value="Sábado">Sábado</option>
                <option value="Domingo">Domingo</option>
            </select>
            <div class="div-button">
                <input class="button-submit" type="submit" value="Salvar">

            </div>
        </form>
    </main>
    
    
</body>
</html>