<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino Fit Tracker</title>
    <link rel="stylesheet" href="../styles/create-treino.css">
</head>
<body>
    <header>
        <h3>
            <a href="">
                Consultoria
            </a></h3>
    </header>
    <main>
        <h1>Edit Treino</h1>
        <form action="insert" method="POST">
            <label for="">Nome</label>
            <input type="text" name="nome" value="{{.treino.Nome}}">
            <label for="">Descricao</label>
            <input type="text" name="descricao" value="{{.treino.Descricao}}">
            <label for="">Dia da Semana</label>
            <input type="text" name="diadasemana" value="{{.treino.DiaDaSemana}}">
            <div class="div-button">
                <input class="button-submit" type="submit" value="Salvar">

            </div>
        </form>
    </main>
    
    
</body>
</html>