<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Tracker</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <header>
        <h3>
            <a href="">
                Consultoria
            </a></h3>
    </header>
    <main>
        <h1>
            Treinos
        </h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Dia da Semana</th>
                </tr>
            </thead>
            <tbody>
                <h2>Treino </h2>
                {{range .treinos}}
                
                <tr>
                    <td>{{.Nome}}</td>
                    <td>{{.Descricao}}</td>
                    <td>{{.DiaDaSemana}}</td>
                    <td><a href="edit/{{.ID}}">Editar</a></td>
                    <td><button onclick="onDelete('{{.ID}}')" class="btn btn-danger">Deletar</button></td>

                </tr>
                <br>
                {{end}}
            </tbody>
            
        </table>
        <a class="new-button" href="create-treino">Novo Treino</a>
    </main>
    <footer></footer>

    <script src="../scripts/index.js">Deletar</script>
    
</body>
</html>